.content{
    background-color: rgb(196, 255, 254);
    padding: 20px;
    font-size: 18px;
    text-align: center;
}

/* applies when only viewed on a screen */

@media screen and (max-width:600px){
    .content{
        background-color: orange;
        font-size: 16px;
    }
}

@media print{
    .content{
        background-color: cadetblue;
        color: white;
        font-size: 12px;
        border: 1px solid black;
    }
}